@page
@model SandyJeakins.ImageViewerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<script>
    alert('here3');

    $(document).ready(function () {
        alert('here');
    });

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Viewer</title>
</head>
<body>

    <h1>Image Viewer</h1>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
