@page
@model SandyJeakins.ImageViewerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    var folder = window.Folder;
    var pageTitle = window.PageTitle;

    alert(folder);
    alert(pageTitle);

    $(document).ready(function () {
        alert('here');

        $.ajax({
            url: "/images/" + folder + "/",
            success: function (data) {
                alert('success');
                $(data).find("a").attr("href", function (i, val) {
                    if (val.match(/\.(jpg)$/i)) {
                        $(".container").append("<img src='" + val + "'>");
                    }
                });
                var slide = document.getElementsByClassName("mySlides");
                slide[slideIndex - 1].style.display = "block";
            },
            error: function (xhr) {
                alert(xhr.status);
            },
            complete: function (data) {
                alert('complete' + data.length);
            }
        });

    });

</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Viewer</title>
</head>
<body>

    <h1>Image Viewer</h1>


</body>
</html>
